.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0.5rem 0;
  }

  pre {
    padding: 0.5rem;
  }
}
